.first {
    height: 20.71375rem;
    width:51.875rem;
}


.images {
    width:51.875rem;
    height: 32.5rem;
    margin-bottom: 3rem;
}
.forest {
    width: 44.791875rem;
    height: 32.5rem;
}
.content {
    width: 51.875rem;
    
}

.bottom {
    height: 6rem;
}
hr {
    height: 3rem;
    background-color: white;
    border-color: white;
    border: solid;
    border-style:none;
    
}
ul {
    list-style-type: none
}

.little {
    margin-right: .625rem;
}
.flexbox {
    display: flex;
    justify-content: center;
}