.first {
    height: 20.71375rem;
    width:51.875rem;
}


.images {
    width:51.875rem;
    height: 32.5rem;
    margin-bottom: 3rem;
}
.forest {
    width: 44.791875rem;
    height: 32.5rem;
}
.content {
    width: 51.875rem;
    
}

.bottom {
    height: 6rem;
}
hr {
    height: .2rem;
    background-color: white;
    border-color: white;
    border: solid;
    border-style:none;
    margin-bottom: 0;
    
}
ul {
    list-style-type: none
}

.little {
    height:5rem;
    margin-right: .625rem;
}
.flexbox {
    display: flex;
    justify-content: center;
}
.vr {
    display:block;
    padding-left: 6rem;
    border-right:silver solid .1rem;
    border-width: .1875rem;
}
